<div id="<%= dom_id interaction %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Conversation:</strong>
    <%= interaction.conversation_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Question text:</strong>
    <%= interaction.question_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Answer text:</strong>
    <%= interaction.answer_text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Response metadata:</strong>
    <%= interaction.response_metadata %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Model used:</strong>
    <%= interaction.model_used %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prompt settings:</strong>
    <%= interaction.prompt_settings %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this interaction", interaction, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this interaction", edit_interaction_path(interaction), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
