
<div id="<%= interaction.id %>" class="w-full bg-green-200 text-green-800 px-6 py-3 rounded-xl mt-4">
  <div class="w-full flex justify-between items-center gap-8 mb-4">
    <div class="flex items-center gap-8">
      <span class="flex h-6 w-6 items-center justify-center overflow-hidden rounded-full text-sm border border-amber-400 bg-amber-600 text-amber-200">c</span>
      <span class="flex font-bold text-sm">YOU</span>
    </div>
    <span><%= interaction.usage[:tokens] %></span>
    <time><%= time_ago_in_words(interaction.created_at) %></time>
  </div>
  <%= interaction.content %>
</div>

<div class="w-full px-6 py-3 rounded-xl my-4 text-gray-400">
  <div class="flex items-center gap-8 mb-4 px-4 py-1 text-gray-300">
    <%= inline_svg_tag('icons/terminal/chat-gpt.svg', class: 'w-6 h-6 flex items-center justify-center overflow-hidden text-sm bg-gray-300 text-gray-900 p-1 rounded-full')%>
    <span class="flex font-bold text-sm">chatGPT</span>
    <span><%= interaction.usage[:tokens] %></span>
    <time><%= time_ago_in_words(interaction.created_at) %></time>
  </div>
  <%= interaction.answer_text_to_html(self) %>
</div>