<div class="relative z-0 flex h-full w-full overflow-hidden">
  <aside class="hidden md:w-1/6 h-screen flex-shrink-1 overflow-x-hidden md:flex flex-col justify-between relative">
    <nav class="hidden md:w-1/6 md:flex flex-col gap-3 overflow-y-auto-scroll h-screen fixed">
      <%= link_to 'cPal', root_path, class: 'w-full px-4 py-2 text-white text-center text-xl font-semibold' %>
      <hr class="border-b border-b-gray-700">
      <h2 class="w-full text-sm font-medium text-gray-500 px-4"><%= t('.today') %></h2>
      <div id="aside_conversations">
        <%= turbo_frame_tag "conversations_today", src: conversations_path(range: 'today'), load: :lazy do %>
          <span class="w-full px-4 text-gray-600 text-sm">cargando ...</span>
        <% end %>
      </div>

      <h2 class="w-full text-sm font-medium text-gray-500 px-4"><%= t('.yesterday') %></h2>
      <%= turbo_frame_tag "conversations_yesterday", src: conversations_path(range: 'yesterday'), load: :lazy do %>
        <span class="w-full px-4 text-gray-600 text-sm">cargando ...</span>
      <% end %>

      <h2 class="w-full text-sm font-medium text-gray-500 px-4"><%= t('.last_7_days') %></h2>
      <%= turbo_frame_tag "conversations_last_7_days", src: conversations_path(range: 'last_7_days'), load: :lazy do %>
        <span class="w-full px-4 text-gray-600 text-sm">cargando ...</span>
      <% end %>

      <h2 class="w-full text-sm font-medium text-gray-500 px-4"><%= t('.last_30_days') %></h2>
      <%= turbo_frame_tag "conversations_last_30_days", src: conversations_path(range: 'last_30_days'), load: :lazy do %>
        <span class="w-full px-4 text-gray-600 text-sm">cargando ...</span>
      <% end %>
    </nav>

    <%= render UI::UserCard.new(user: current_user, style: {
            container: 'w-1/6 fixed bottom-4 left-0 rounded-xl flex justify-start items-center px-4',
            dropdown: 'w-full bottom-20 left-0 z-40 shadow-lg shadow-slate-700 rounded-lg bg-slate-900 text-gray-200',
          }) %>
  </aside>
  <main class="w-5/6 relative flex h-custom overflow-y-scroll flex-1 flex-col items-center overflow-hidden bg-slate-950 my-12 mx-8 rounded-xl" data-controller="dropdown">
    <div  data-dropdown-open-value="false"
          class="absolute -top-4 left-4 rounded-xl flex flex-col justify-start items-center px-4 my-8" >
      <button role="button" 
              tabindex=0 
              data-dropdown-target="openButton"
              data-action="click->dropdown#open"
              class="flex justify-start items-center w-full px-4 py-2 text-sm leading-5 text-left gap-2 bg-slate-800 hover:bg-slate-700 hover:text-white focus:outline-none focus:bg-gray-700 focus:text-white hover:cursor-pointer rounded-lg shadow shadow-slate-700">
        <span data-dropdown-target="model" class="text-xl text-gray-300 font-bold">ChatGPT 4</span>
      </button>
      <dropdown data-dropdown-target="dropdownContent"
                class="w-full xl:container px-12 py-8 grid grid-cols-2 2xl:grid-cols-6 gap-4 z-40 hidden shadow-lg shadow-slate-700 rounded-lg bg-slate-900 transition-opacity duration-300 ease-in-out">
          <% @models.each do |model| %>
            <div class="flex items-center gap-3 shadow rounded-md border border-gray-200 outline-none px-2 py-2  w-full bg-gray-400 hover:bg-gray-200">
              <input type="radio" id="<%= model['id'] %>"
                    name="model" value="<%= model['id'] %>"
                    data-action="click->dropdown#closeAndChangeModel"
                    class="w-4 h-4 text-slate-800 bg-white border-slate-800 rounded focus:ring-slate-800 focus:ring-2 cursor-pointer focus:duration-500">
              <label for="<%= model['id'] %>" data-dropdown-model-value="<%= model['id']%>" class="w-full px-4 py-1 rounded-lg cursor-pointer"><%= model['id'] %></label>
            </div>
          <% end %>
      </dropdown>
    </div>

    <%= turbo_frame_tag :new_conversation, src: new_conversation_path %>
  </main>
</div>