<div data-controller="dropdown"
      data-dropdown-open-value="false"
      class="<%= container_style %>" >
  <button role="button" 
          tabindex=0 
          data-dropdown-target="openButton"
          data-action="click->dropdown#open"
          class="<%= button_style %>">
    <span class="w-6 h-6 p-5 flex justify-center items-center bg-corporation border-2 border-indigo-600 rounded-full shadow-lg dark:bg-indigo-800 dark:border-indigo-700 text-white hover:text-red-500 hover:duration-500 duration-500 text-center font-semibold uppercase">
      <%= user[:username][0] %>
    </span>
    <span class="<%= text_style %>"><%= user[:username] %></span>
  </button>
  <dropdown data-dropdown-target="dropdownContent"
            class="flex flex-col justify-between items-center gap-6 hidden absolute opacity-0 transition-opacity duration-300 ease-in-out <%= dropdown_style %>">
    <div class="w-full border-b-2 border-b-corporation ">
      <span class="w-full text-corporation font-semibold px-4">
        <%= user[:username] %>
      </span>
    </div>
    <ul class="w-2/3 grow flex justify-center items-start gap-8">
      <li class="top-12">
      </li>
      <li class="top-12">
      </li>
      <li class="top-12">
      </li>
    </ul>
    <div class="w-full flex flex-col">
      <% links.each do |link| %>
        <%= link_to link[:path], class: 'w-full flex py-1 hover:bg-slate-600 gap-4 px-4'  do %>
          <%= inline_svg_tag(link[:icon], class: 'w-6 h-6 stroke-2 stroke-slate-300')%>
          <span class="w-full text-slate-300 font-semibold">
            <%= link[:text] %>
          </span>
        <% end %>
      <% end %>
    </div>
  </dropdown>
</div>
